@model IEnumerable<PoCParkingSensors.Models.Data>

@{
    ViewBag.Title = "ParkingDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ParkingDetails</h2>

<div class="btnBack">

    <button type="submit" id="btnClick" style="width: 140px; border: none; margin: 1px;">Refresh</button>
    <button type="submit" id="btnHide" style="width: 140px; border: none; margin: 1px;">Hide table</button>


</div>

<body>
    <div id="divTest">

    </div>
    <div id="divTest2">
        <h1>Test</h1>
    </div>


    @Scripts.Render("~/bundles/jquery")
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script>
        $('#btnClick').click(function () {
            $('#divTest2').remove();
            $('#divTest').show();
            $.get('@Url.Action("Refresh", "ParkingDetails")', {}, function (model) {
                $("#divTest").html(model);
            })
        })

        $('#btnHide').click(function () {
            $('#divTest').hide();

        })
    </script>
</body>
