<div class="jumbotron">
    <h1>Parking Sensors</h1>
    <p class="lead">This basic website is to display differenet ways to use the City of Melbourne parking dataset</p>
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome!</h2>
        <p>Please be aware that the data can take upto 30 seconds to refresh due to the comunication to the endpoint</p>
    </div>
    
</div>
